main, h1 {
	text-align: center;
}
a {
    text-decoration: none;
}
#cameras {
	display: flex;
	
	justify-content: space-between;
}
#cameras img {
width: 90%;
height: 100%;

}
img {
	width: 12%;
}
nav, ul {
	display: flex ;
	flex-direction: row;
	justify-content: space-between;
	border: solid #F3E9F1 2px;
	font-size: 1.5em;
	align-items: center;
	padding: 10px;
	background-color: #F3E9F1;
}
li {
	list-style: none;
}
section {
	display: flex;
	flex-direction: row;
}
#produit {
	width: 50%;
}
#produit img {
	width: 100%;
}
.infos {
	width: 50%;
	border: solid black 2px;
	text-align: center;
}
.choix {
	display: flex;
	flex-direction: column;
}
article {
	width: 50%;
	margin: auto;
}
input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
  color: red;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: green;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-weight: normal;
	padding-left: 40px;
	/*border: solid black 1px;*/
	margin-bottom: 20px;
}
.container img {
	/*border: solid black 1px;*/
	/*width: 100px;*/
	padding-right: 50px;
}
.container p {
	padding-right: 50px;
	/*border: solid black 1px;*/
	width: 60px;
}
#infosProduits {
	font-weight: bold;
	/*border: solid black 1px;*/
}
.subtotal {
	font-weight: bold;
}
#infosProduits .designation {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	padding-left: 24px;
	/*width: 100px;*/
}
.designation p {
	/*border: solid black 1px;*/
	
	padding-right: 73px;
}
.designation a {
	/*border: solid black 1px; */
	justify-content: center;
	padding-top: 16px;
	color: red;
}
.container .quantite {
	/*color: red;*/
	width: 10px;
	justify-content: center;
	/*border: solid black 1px;*/
}
#infosProduits button {
	width: 110px;
}