main, h1 {
	text-align: center;
}
a {
    text-decoration: none;
}
img {
	width: 12%;
}
nav, ul {
	display: flex ;
	flex-direction: row;
	justify-content: space-between;
	border: solid #F3E9F1 2px;
	font-size: 1.5em;
	align-items: center;
	padding: 10px;
	background-color: #F3E9F1;
}
li {
	list-style: none;
}
section {
	display: flex;
	flex-direction: row;
}
#produit {
	width: 50%;
}
#produit img {
	width: 100%;
}
.infos {
	width: 50%;
	border: solid black 2px;
	text-align: center;
}
.choix {
	display: flex;
	flex-direction: column;
}
article {
	width: 50%;
	margin: auto;
}
input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
  color: red;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: green;
}